
  
  <div class="ui menu">
    <div class="header item" style="color: red;">
      ExpressApp
    </div>
    <a class="item" href="/">
        Görevler
      </a>
      <a class="item" href="/yapilacak/ekle">
        Görev Ekle
      </a>
    <div class="right menu">
      <a class="item" href="/login">
        Giriş yap
      </a>
      <a class="item" href="/register">
        Kayıt ol
      </a>
    </div>
  </div>